.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
  list-style-type: none;
}

.listItem {
  position: absolute;
  /* margin-left: -180px; */
  font-size: 30px;
  font-weight: 900;
  margin-top: -20px;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}
.listItemDescription  > p{
  margin-bottom: 0px !important;
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}
.team{
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 300px;
  width: 200px;
  height: 200px;
   box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form,
.contactform{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}
input[type="text"],
input[type="email"],
input[type="subject"],
button,
textarea
{
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    border-width: 1px;
    padding: 5px;
}
button{
  background-color: #ec7461;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

/* Styles for mobile devices */
@media (max-width: 576px) {
  .listItem {
    position: absolute;
    margin-left: -10px;
    font-size: 30px;
    font-weight: 900;
    margin-top: -30px;
  }
}

@media (max-width: 850px) {
  .listItem {
    margin-left: -10px;
    margin-top: -50px;
  }
}